name: main

on:
  - push
  - pull_request

env:
  RUSTFLAGS: "-Dwarnings"
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile minimal

      - uses: Swatinem/rust-cache@v2

      - name: Check
        run: cargo check

      - name: Test
        run: cargo test --verbose

      - name: Clippy
        run: cargo clippy -- -A clippy::type_complexity -A clippy::bool_assert_comparison -A clippy::result_large_err

